<!-- Main -->
<div class="app-main-container">
    <h2 class="module-title"> Leaderboard</h2>

    <div class="toolbar" matPrefix>

        <div>
            <span>Search By:</span>
            <mat-radio-group color="primary" [(ngModel)]="searchBy">
                <mat-radio-button value="Name" class="toolbar-action">Team</mat-radio-button>
                <mat-radio-button value="Score" class="toolbar-action">Score</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-form-field appearance="standard" class="toolbar-action">
            <input matInput placeholder="Search" [(ngModel)]="searchValue" (keyup)="search()">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <span class="spacer"></span>

        <button mat-raised-button color="primary" class="toolbar-action" (click)="openAddTeamDialog()">
            Add Team
        </button>
        <button mat-raised-button class="toolbar-action" (click)="openAddMatchDialog()">
            Add Match
        </button>

        <div class="toolbar-action">
            <button mat-raised-button [matMenuTriggerFor]="beforeMenu">
                <span>SortBy: {{sortBy}}</span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down</mat-icon>
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="sort('Name')">Name</button>
                <button mat-menu-item (click)="sort('Score')">Score</button>
            </mat-menu>
        </div>
    </div>



    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

        <!-- Position Column -->""
        <ng-container *ngFor="let item of keyColumns let i=index" [matColumnDef]="item">
            <th mat-header-cell *matHeaderCellDef> {{displayedColumns[i]}} </th>
            <td mat-cell *matCellDef="let element"> {{element[item]}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="keyColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: keyColumns;"></tr>
    </table>

    <div class="paginator">
        <span for="pageSize" class="paginator-action">Page Size</span>
        <select class="form-control paginator-action" id="pageSize" [(ngModel)]="pageSize" style="width: 100px;"
            (change)='getTeamList()'>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
        <button type="button" mat-raised-button (click)="getPrevious()" class="paginator-action">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button type="button" mat-raised-button (click)="getNext()" class="paginator-action">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>


</div>



<!-- <div class="searchBlock">
        <div class="col-sm-3">
            <mat-form-field appearance="fill">
                <mat-label>Sort By</mat-label>
                <mat-select [(ngModel)]="sortValue" name="sort">
                    <mat-option *ngFor="let item of sortBy" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <button (click)="openAddTeamDialog()" class="btn btn-primary" style="margin-right:20px">add team</button>
            <button (click)="openAddMatchDialog()" class="btn btn-primary">add match</button>
        </div>
        <div class="col-sm-3">
            <mat-form-field appearance="fill">
                <mat-label>Search By</mat-label>
                <mat-select [(ngModel)]="searchValue" name="search">
                    <mat-option *ngFor="let item of searchBy" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="example-form-field">
                <mat-label>Search</mat-label>
                <input matInput type="text" [(ngModel)]="searchInput">
                <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="search()">
                    <mat-icon>Search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div> -->