table{
    width: 100%;
}
tr.mat-header-row{
    /* background-color: #C5CAE9   ; */
}

.paginatorBlk{
    padding: 15px 0;
    display: flex;
    width: 30%;
    margin-left: auto;
    justify-content: space-between;
}

.paginatorBlk label{
    padding-top: 5px;
}

.searchBlock{
    padding: 10px;
    display: flex;
    width: 100%;
}

