table{
    width: 100%;
}
tr.mat-header-row{
    /* background-color: #C5CAE9   ; */
}

.paginator{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 15px;
}

.paginator .paginator-action{
    margin-left: 5px;
}

.searchBlock{
    padding: 10px;
    display: flex;
    width: 100%;
}

