<div class="container">

    <div class="searchBlock">
        <div class="col-sm-3">
            <mat-form-field appearance="fill">
                <mat-label>Sort By</mat-label>
                <mat-select [(ngModel)]="sortValue" name="sort">
                    <mat-option *ngFor="let item of sortBy" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <button (click)="openAddTeamDialog()" class="btn btn-primary" style="margin-right:20px">add team</button>
            <button (click)="openAddMatchDialog()" class="btn btn-primary">add match</button>
        </div>
        <div class="col-sm-3">
            <mat-form-field appearance="fill">
                <mat-label>Search By</mat-label>
                <mat-select [(ngModel)]="searchValue" name="search">
                    <mat-option *ngFor="let item of searchBy" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="example-form-field">
                <mat-label>Search</mat-label>
                <input matInput type="text" [(ngModel)]="searchInput">
                <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="search()">
                    <mat-icon>Search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->""
        <ng-container *ngFor="let item of keyColumns let i=index" [matColumnDef]="item">
            <th mat-header-cell *matHeaderCellDef> {{displayedColumns[i]}} </th>
            <td mat-cell *matCellDef="let element"> {{element[item]}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="keyColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: keyColumns;"></tr>
    </table>

    <div class="col-sm-12 row" style="margin-top: 20px;">
        <div class="col-sm-3">
            <div class="form-row">
                <label for="pageSize">Page Size</label>
                <select class="form-control" id="pageSize" [(ngModel)]="pageSize"
                    style="width: 100px;margin-left: 20px;">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" (click)="getPrevious()">Previous</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" (click)="getNext()">Next</button>
        </div>
    </div>

</div>