/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "./theme.scss";

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

button, button:focus {
  outline: none;
}

.app-container {
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;


  .app-header {
    .nav-item {
      height: 100%;
      &.active {
        border-bottom: 3px solid #15b4a3;
        border-radius: 0;
      }
    }
  }

  .app-main-container {
    height: calc(100% - 44px);
    padding: 30px;

    .module-title {
      font-weight: 400;
      letter-spacing: 0.0075em;
    }
  }

  

  .toolbar {
    display: flex;
    margin-top: 15px;
    align-items: center;
    flex-wrap: wrap;
    .toolbar-action {
      margin-left: 10px;
    }
  }
}

.app-footer {
  height: 20px;
  font-size: 8pt;
  margin: 8px;
  text-align: center;
}

.app-logo {
  width: 40px;
  height: 40px;
}


.modelTitle{
    background: #ededed;
    color: black;
}
.modelContent{
   font-weight: bold;
}
.modelButton{
    background: #00af9c;
    color: white;
    margin: 0% 45%  !important; 
}
.mat-dialog-container{
        padding: 0px  !important; 
        border-radius: 10px  !important;
        overflow: hidden  !important;
}




